.mainModal {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 98vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .createNote {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: red;
    width: 100%;
    height: 98vh;

    input {
      font-size: 22px;
      line-height: 32px;
      height: 32px;
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      background-color: transparent;
      border: none;
      text-align: center;
      width: 100%;
      margin-top: 12px;
      outline: none;
    }

    .footer {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      bottom: 0;
      .saveButton {
        width: 100px;
        height: 50px;
        border-radius: 20px;
        padding: 4px;
        margin-bottom: 10px;
      }
    }
    .editor {
      margin: 5px 200px 0px 200px;
    }
  }
}
